body{
    margin: 0 auto;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

a{
    color: white;
    text-decoration: none;
}

h1{
    font-size: 4.5vh;
}

h2,h3,h4,h5{
    font-size: 2.6vh;
    margin-bottom: 5px;
}


.link{
    color: var(--ScpColor);
}

/*** NAV ***/
#nav{
    background: var(--ScpColor);  /* VAR */
    color: #fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    position: fixed;
    width: 100%;
    
}

.filtr{
    text-align: right;
    padding: 10px;
    background: rgba(00,00,00,0.2)
}


.przycisk{
    height: 25px;
    width: 25px;
    display: inline-block;
    border: 1px solid #fff;
    opacity: 1;
    cursor: pointer;
}

.przycisk:hover{
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    opacity: 0.6;
}

.kolor1{
    background: #cb4b16;
}

.kolor2{
    background: #0080c0;
}

.kolor3{
    background: #006464;
    margin-right: 8px;
}

.reset{
    display: inline-block;
    font-size: 190%;
    padding-right: 20px;
    height: 25px;
    cursor: pointer;
}



/*** HEADER ***/
#jumbotron{
    background: var(--ScpColor);  /* VAR */
    color: #fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    text-align: center;
    padding: 110px 5% 50px 5%;
}

.gitLink{
    padding-top: 60px;
}


.gitLink a{
    font-weight: bold;
    letter-spacing: 1px;
    border: 0.5px solid white;
    padding: 25px;
    border-radius: 5px;
}

.gitLink a:hover{
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: #fff;
    color: #000;
    text-shadow: none;
}


/*** MAIN ***/
#main{
    padding: 0px 20% 0px 20%;
    text-align: center;
}


/* przykłady */
.przyklad{
    font-size: 1.6vh;
    margin-top: 15px;
}

.przy1{
    text-shadow: 0px 0px 10px var(--ScpColor);
}

.przy1::-moz-selection{
    background:  var(--ScpColor);
}

.przy1::selection{
    background:  var(--ScpColor);
}

.przy2{
    display: inline-block;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid var(--ScpColor);
    -webkit-box-shadow: 0px 0px 10px var(--ScpColor);
    box-shadow: 0px 0px 10px var(--ScpColor);
    max-width: 40%;
    margin-top: 15px;
}

.przy2:hover{
    background: var(--ScpColor);
    color: white;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}


.przy3{
	margin: 100px auto 100px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	-webkit-animation: animation 1.3s infinite linear;
	animation: animation 1.3s infinite linear;
}

@-webkit-keyframes animation {
	0%,
	100% {
		-webkit-box-shadow: 0 -60px 0 0.40px var(--ScpColor), 40px -40px 0 0 var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 -10px var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 0 var(--ScpColor);
		box-shadow: 0 -60px 0 0.40px var(--ScpColor), 40px -40px 0 0 var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 -10px var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 0 var(--ScpColor);
	}
	12.5% {
		-webkit-box-shadow: 0 -60px 0 0 var(--ScpColor), 40px -40px 0 0.40px var(--ScpColor), 60px 0 0 0 var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 -10px var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
		box-shadow: 0 -60px 0 0 var(--ScpColor), 40px -40px 0 0.40px var(--ScpColor), 60px 0 0 0 var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 -10px var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
	}
	25% {
		-webkit-box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 0 var(--ScpColor), 60px 0 0 0.40px var(--ScpColor), 40px 40px 0 0 var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 -10px var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
		box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 0 var(--ScpColor), 60px 0 0 0.40px var(--ScpColor), 40px 40px 0 0 var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 -10px var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
	}
	37.5% {
		-webkit-box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 0 var(--ScpColor), 40px 40px 0 0.40px var(--ScpColor), 0 60px 0 0 var(--ScpColor), -40px 40px 0 -10px var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
		box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 0 var(--ScpColor), 40px 40px 0 0.40px var(--ScpColor), 0 60px 0 0 var(--ScpColor), -40px 40px 0 -10px var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
	}
	50% {
		-webkit-box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 0 var(--ScpColor), 0 60px 0 0.40px var(--ScpColor), -40px 40px 0 0 var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
		box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 0 var(--ScpColor), 0 60px 0 0.40px var(--ScpColor), -40px 40px 0 0 var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
	}
	62.5% {
		-webkit-box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 0 var(--ScpColor), -40px 40px 0 0.40px var(--ScpColor), -60px 0 0 0 var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
		box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 0 var(--ScpColor), -40px 40px 0 0.40px var(--ScpColor), -60px 0 0 0 var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
	}
	75% {
		-webkit-box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 0 var(--ScpColor), -60px 0 0 0.40px var(--ScpColor), -40px -40px 0 0 var(--ScpColor);
		box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 0 var(--ScpColor), -60px 0 0 0.40px var(--ScpColor), -40px -40px 0 0 var(--ScpColor);
	}
	87.5% {
		-webkit-box-shadow: 0 -60px 0 0 var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 0 var(--ScpColor), -60px 0 0 0 var(--ScpColor), -40px -40px 0 0.40px var(--ScpColor);
		box-shadow: 0 -60px 0 0 var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 0 var(--ScpColor), -60px 0 0 0 var(--ScpColor), -40px -40px 0 0.40px var(--ScpColor);
	}
}


@keyframes animation {
	0%,
	100% {
		-webkit-box-shadow: 0 -60px 0 0.40px var(--ScpColor), 40px -40px 0 0 var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 -10px var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 0 var(--ScpColor);
		box-shadow: 0 -60px 0 0.40px var(--ScpColor), 40px -40px 0 0 var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 -10px var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 0 var(--ScpColor);
	}
	12.5% {
		-webkit-box-shadow: 0 -60px 0 0 var(--ScpColor), 40px -40px 0 0.40px var(--ScpColor), 60px 0 0 0 var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 -10px var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
		box-shadow: 0 -60px 0 0 var(--ScpColor), 40px -40px 0 0.40px var(--ScpColor), 60px 0 0 0 var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 -10px var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
	}
	25% {
		-webkit-box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 0 var(--ScpColor), 60px 0 0 0.40px var(--ScpColor), 40px 40px 0 0 var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 -10px var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
		box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 0 var(--ScpColor), 60px 0 0 0.40px var(--ScpColor), 40px 40px 0 0 var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 -10px var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
	}
	37.5% {
		-webkit-box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 0 var(--ScpColor), 40px 40px 0 0.40px var(--ScpColor), 0 60px 0 0 var(--ScpColor), -40px 40px 0 -10px var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
		box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 0 var(--ScpColor), 40px 40px 0 0.40px var(--ScpColor), 0 60px 0 0 var(--ScpColor), -40px 40px 0 -10px var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
	}
	50% {
		-webkit-box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 0 var(--ScpColor), 0 60px 0 0.40px var(--ScpColor), -40px 40px 0 0 var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
		box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 0 var(--ScpColor), 0 60px 0 0.40px var(--ScpColor), -40px 40px 0 0 var(--ScpColor), -60px 0 0 -10px var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
	}
	62.5% {
		-webkit-box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 0 var(--ScpColor), -40px 40px 0 0.40px var(--ScpColor), -60px 0 0 0 var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
		box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 0 var(--ScpColor), -40px 40px 0 0.40px var(--ScpColor), -60px 0 0 0 var(--ScpColor), -40px -40px 0 -10px var(--ScpColor);
	}
	75% {
		-webkit-box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 0 var(--ScpColor), -60px 0 0 0.40px var(--ScpColor), -40px -40px 0 0 var(--ScpColor);
		box-shadow: 0 -60px 0 -10px var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 0 var(--ScpColor), -60px 0 0 0.40px var(--ScpColor), -40px -40px 0 0 var(--ScpColor);
	}
	87.5% {
		-webkit-box-shadow: 0 -60px 0 0 var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 0 var(--ScpColor), -60px 0 0 0 var(--ScpColor), -40px -40px 0 0.40px var(--ScpColor);
		box-shadow: 0 -60px 0 0 var(--ScpColor), 40px -40px 0 -10px var(--ScpColor), 60px 0 0 -10px var(--ScpColor), 40px 40px 0 -10px var(--ScpColor), 0 60px 0 -10px var(--ScpColor), -40px 40px 0 0 var(--ScpColor), -60px 0 0 0 var(--ScpColor), -40px -40px 0 0.40px var(--ScpColor);
	}
}


/* Konfiguracja */
.kod{
    margin-top: 15px;
    background: #c0c0c014;
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    text-align: left;
    border: 1px solid var(--ScpColor);
    width: 20%;
    margin: 0 auto;
}

.opis{
    font-size: 1.8vh;
    margin-bottom: 15px;
}

.config{
    font-size: 1.3vh;
    margin-top: 15px;
}

.kolor{
    color: var(--ScpColor);
    
}

.zbior{
    margin-top: 15px;
}

.plik{
    font-size: 1.3vh;
}


/*** STOPKA ***/
#stopka{
    background: var(--ScpColor);  /* VAR */
    color: #fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

#stopka a{
   margin: 0 10px 0 10px;
}


@media(max-width: 760px) {
    .kod{
        width: 100%;
    }
}