:root {
    --ScpColor: #0080c0;     /** Default color **/
}


.SPCpick{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 0;
    margin: 2px;
    background: var(--ScpColor);
    -webkit-box-shadow:inset 0px 0px 0px 10px #f00;
    box-shadow:inset 0px 0px 0px 1px black;
    cursor: pointer;
    -webkit-appearance: none; 
}

.SPCpick:hover{
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    border-color: #C0C0C0;
}

.SPCpick::-webkit-color-swatch-wrapper{
    display: none; 
}
.SPCpick::-moz-color-swatch-wrapper{
    display: none; 
}
.SPCpick::-ms-color-swatch-wrapper {
    display: none; 
} 


.SPCpick::-webkit-color-swatch{
    display: none;
}
.SPCpick::-moz-color-swatch{
    display: none;
}
.SPCpick::-ms-color-swatch {
    display: none;
}


.SPCpick:focus {
    outline: none;
}
